
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: black;
}
.headers{
    background-color: black;
}
html, body{
    height: 100%;
    width: 100%;
}

.nav{
    background-color: black;
    position: fixed;
    z-index: 99;
}
.hero {
    background-size: cover;
    text-align: center;
    padding: 5rem 0;
    color: #ffffff;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}





#logo{
    height: 50px;
}

.content{
    height: 50%;
    width: 100%;
}

.earth{
    background-color: black;
}

/*footer starts */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: black;
    color: #ffffff;
}

